.SentBoxName{
    margin-bottom: 1rem;
    /* font-weight: 900; */
    font-family: initial;
    border-bottom: 3px solid black;
}
.tableParentt{
    width: 74%;
    margin-left: 18rem;
    margin-top: -20rem;
}